APP_ENV=local
APP_DEBUG=true
APP_KEY=base64:CBSuZMqzT1IU7xFQNb7Vl8/wZF8tcJSwcrLeMCQwWIs=
APP_URL=http://forum.dev/

APP_PATH=http://forum.dev/

DB_HOST=localhost
DB_DATABASE=forum
DB_USERNAME=root
DB_PASSWORD=

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
